.button-23 {
  background-color: #FFFFFF;
  border: 1.5px solid #959595;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1rem;
  margin: 0;
  outline: none;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}







@media screen and (max-width: 850px) {
#texto:before {
     content: "ID: ";
     font-weight: bold;
}

table {
    width:100%;
}
thead {
    display: none;
}
tr:nth-of-type(2n) {
    background-color: inherit;
}

tbody td {
    display: block;
    text-align:center;
}
tbody td:before {
    content: attr(data-th);
    display: block;
    text-align:center;
}

#cont-botones{
  display: flex;
  justify-content: center;

 }
}

@media screen and (min-width : 851px) {
    #texto2:before {
        content: "Ver ";
   } 



   
}

