<div class="carousel-container">
  <button class="scroll-btn left" (click)="scrollCarousel(-1)">
    <span class="nav-arrow">&#10092;</span>
  </button>

  <ul class="carousel" #carousel>
    <li *ngFor="let product of featuredProducts">
      <div class="card" [style.backgroundImage]="'url(' + product.img + ')'">
        <h3>{{ product.title }}</h3>
      </div>
    </li>
  </ul>

  <button class="scroll-btn right" (click)="scrollCarousel(1)">
    <span class="nav-arrow">&#10093;</span>
  </button>
</div>
